<div class="modal active">
    <div class="modal__background"></div>
    <div class="modal__body rounded-2">
        <div class="modal__buttons">
            <button class="modal__button--close action-button circle">&times;</button>
        </div>
        <div class="modal__content">
            <header>
                <textarea class="text-as-height title input-focus-indicator no-border no-outline" type="text"
                    placeholder="New Tracker Title"></textarea>
                <div class="modal__header-content">
                    <p class="title">Tracker Display</p>
                    <p class="subtitle w-60 center-horz">Edit the tracker display style by clicking on the component you
                        want
                        to restyle
                        below.
                    </p>
                    <div class="modal__tracker-styler rounded-2">
                        <p class="modal__tracker-styler--text w-60">Sample Text</p>
                        <div class="modal__tracker-styler--circle color-picker-input"
                            style="width: 30%; top: 12%; left: 50%">
                        </div>
                        <div class="modal__tracker-styler--circle color-picker-input"
                            style="width: 20%; top: 40%; left: 40%">
                        </div>
                        <div class="modal__tracker-styler--circle color-picker-input"
                            style="width: 10%; top: 60%; left: 65%">
                        </div>
                    </div>
                </div>
            </header>
            <div class="modal__tracker-content rounded-2">
                <select class="modal__tracker-template-selector title">
                    <option value="episodes-template">Episodes Template</option>
                    <option value="checklist-template">Checlick Template</option>
                </select>
                <p class="subtitle w-60 center-horz">Select a template to use. The selected template will be displayed.
                </p>
                <div class="modal__tracker-template-content">
                    <button class="small-singular action-button center-horz rounded-1">&plus;</button>
                    <div class="template__episodes-container center-horz">
                        <div class="template__episodes-container-item rounded-1">
                            <textarea class="text-as-height title input-focus-indicator no-border no-outline"
                                type="text" placeholder="Title"></textarea>
                            <p class="text-lighter">Last Watched<br>Episode:</p>
                            <input class="ol-input" placeholder="0" min="0" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>