@import url("./series-tracker-modal.css");

.create-series-tracker {
  margin-top: 1em;
  margin-bottom: 1em;
}

.series-trackers {
  width: 100%;
  padding: 0em;
  display: flex;
  column-gap: 1em;
}

.series-trackers > .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.series-tracker {
  width: 100%;
  height: fit-content;
  /* background-color: #6842b8; */
  overflow: hidden;
  border-radius: 2em;
}

.series-tracker__bg {
  height: inherit;
  position: relative;
  z-index: 1;
}

.series-tracker__bg--circle {
  position: absolute;
  /* background-color: #7c50d8; */
  width: 30%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.series-tracker__content {
  position: relative;
  color: white;
  z-index: 22;
  padding: 2em 2em 5em 2em;
}

.series-tracker__content > header {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 150%;
}

.series-tracker__content > ol {
  padding: 0;
}

.series-tracker__content > ol > li {
  margin-bottom: 0.5em;
}

.series-tracker__content-item--tags {
  margin-top: 1em;
}

.series-tracker__content-item--title {
  font-size: 120%;
}

.series-tracker__content-item--status {
  font-weight: lighter;
}

.series-tracker__title {
  font-weight: bold;
  font-size: 120%;
}

.series-tracker__table {
  width: 100%;
}

.series-tracker__table {
  border-spacing: 0 0.75em;
}

.series-tracker__table--title {
  width: 25%;
  text-align: left;
  vertical-align: text-top;
}

.series-tracker__table--status {
  font-weight: lighter;
  text-align: left;
  vertical-align: text-top;
  padding: 0 1em;
}
