@import url("./global.css");
@import url("./title-bar.css");

:root {
  --side-bar-color: #2a2a35;
  --side-bar-text-color: white;
  --side-bar-buttons: #2f2f3f;
  --side-bar-buttons-text-color: white;
  --side-bar-buttons-selected-color: #277bb8;
  --side-bar-buttons-hover-color: #545474;
  --side-bar-buttons-selected-hover-color: #248fdb;
}

.side-bar {
  flex: 1;
  max-width: 20em;
  height: calc(100vh - var(--title-bar-height));
  background-color: var(--side-bar-color);
  color: var(--side-bar-text-color);
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
}

.side-bar__title {
  margin: 0;
  font-size: 160%;
  max-width: 60%;
  padding: 10%;
}

.side-bar__buttons {
  height: 100%;
  background-color: var(--side-bar-buttons);
  padding: 1.5em 0;
  border-radius: 1.5em;
}

.side-bar__buttons button {
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--side-bar-text-color);
  font-size: 100%;
  padding: 0.5em 10%;
}

.side-bar__buttons button.selected {
  background-color: var(--side-bar-buttons-selected-color);
}

.side-bar__buttons button:hover {
  background-color: var(--side-bar-buttons-hover-color);
}

.side-bar__buttons button.selected:hover {
  background-color: var(--side-bar-buttons-selected-hover-color);
}

#content-stage {
  flex: 3;
  padding: 2em;
  /* Overflow Correction */
  height: calc(100vh - var(--title-bar-height) - 4rem);
}
