@import url("./title-bar.css");

.modal {
  width: 100%;
  height: calc(100% - var(--title-bar-height));
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000005f;
  visibility: hidden;
  top: var(--title-bar-height);
  left: 0;
}

.modal.active {
  visibility: visible;
}

.modal__content {
  width: 90%;
  max-width: 35em;
  height: fit-content;
  max-height: 70%;
  overflow: auto;
  background-color: white;
  padding: 1em;
}
