.series-cards-stage {
  width: clamp(10em, 100%, 45em);
}

.series-cards {
  width: 100%;
  padding: 0;
}

.series-card {
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  margin-top: 1em;
  opacity: 0.5;
}

.series-card:hover {
  opacity: 1;
}

.series-card > .series-card__color-strip {
  flex: 1;
  max-width: 1em;
  background-color: greenyellow;
  border-radius: 1em 0em 0em 1em;
}

.series-card__content {
  flex: 14;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.series-card__content--title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 120%;
}

.series-card__content--tags {
  margin-top: 0;
  padding: 1em 0em;
  font-size: 80%;
}

#series-cards__filter {
  width: 50%;
  font-size: 150%;
  margin-bottom: 1em;
}
