.series-items {
  width: 100%;
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  row-gap: 1em;
  column-gap: 1em;
}

.series-add-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.series-add-item__plus {
  font-weight: bolder;
  font-size: 250%;
  color: #666;
}

.series-add-item,
.series-item {
  background-color: #dfdfdf;
  opacity: 0.55;
  aspect-ratio: 1 / 1.33;
  border-radius: 2em;
}
