:root {
  --title-bar-color: #1a1a1f;
  --title-bar-text-color: #a5a5b1;
  --title-bar-button-hover-color: #333344;
  --title-bar-height: 2.5rem;
}

.title-bar {
  width: 100%;
  position: fixed;
  background-color: var(--title-bar-color);
  z-index: 1000;
}

.title-bar button {
  border: none;
  height: var(--title-bar-height);
  color: var(--title-bar-text-color);
  background-color: transparent;
  padding-left: 0.85em;
  padding-right: 0.85em;
}

.title-bar button:hover {
  background-color: var(--title-bar-button-hover-color);
}

.title-bar button.title-bar__close-button:hover {
  background-color: red;
}

.title-bar__app-buttons,
.title-bar__window-buttons {
  display: flex;
  flex-direction: row;
}

.title-bar__app-buttons {
  float: left;
}

.title-bar__window-buttons {
  float: right;
}

main {
  width: 100%;
  padding-top: var(--title-bar-height);
}
